<button mat-button>Home</button>
<button mat-button [matMenuTriggerFor]="customer">customer </button>
<button mat-button [matMenuTriggerFor]="measurement">measurement </button>
<button mat-button>Reports</button>

<mat-menu #measurement="matMenu">
  <button mat-menu-item >New Measuremnent</button>
  <button mat-menu-item>Pending Measurements</button>
  <button mat-menu-item>Delivered Measuremnent</button>
</mat-menu>

<mat-menu #customer="matMenu">
  <button mat-menu-item>New customer</button>
  <button mat-menu-item>Customers Pending</button>
</mat-menu>

